@model IEnumerable<GameItem>
@{
    ViewData["Title"] = "GameItemList";
}
<div class="container">
    <h2>GameItemList</h2>
    @foreach (GameItem obj in Model)
    {
        <div class="content">
            <form>
                <img src="~/images/@obj.Image" />
                <p><b>Game Name: </b>@obj.Name</p>
                <p><b>Game Price: </b>@obj.Price</p>
                <p><b>Stock Quantity: </b>@obj.Quantity</p>
                <p><b>For players above: </b>@obj.Age</p>
                <p><b>Game Time: </b>@obj.GameTime</p>
                <p><b>Players: </b>@obj.Players</p>
                <p>@obj.Description</p>
                <input type="hidden" name="Id" value="@obj.GameItemId" />
                <input type="submit" asp-action="GameItemList" value="View Games">
            </form>
        </div>
    }

</div>
</div>


